@page "/hangman"
@inject HttpClient Http

<h1>Hangman</h1>

<p>Can you guess the Sikhi related place, person or thing</p>

@if (hangman == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach( var letter in hangman.Consonants){
    <span>@letter</span>    
    }
}

@code {
    private HangmanData hangman;

    public class Question
    {
        public string Answer { get; set; }

        public string[] Tags { get; set; }

        public string[] Clues { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        hangman = await Http.GetFromJsonAsync<HangmanData>("sample-data/hangman.json");
    }

    public class HangmanData
    {
        public string Consonants { get; set; }
        public string Vowels { get; set; }
        public Question[] Questions {get;set;}
    }


}
