
<button class="btn-lg btn-primary @Status">@Character</button>


@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public char Character { get; set; }
    
    [Parameter]
    public string Status { get; set; }
}
